html, body {
  margin: 0;
  font-family: Arial;
}

header {
  background-color: white;
  color: #1094d5;
  box-sizing: border-box;
  padding: 20px;
  height: 200px;
}

header h2 {
  float: left;
}

header .navbar{
  float: right;
}

.background {
  background-image: linear-gradient(#61c4f5, #1094d5);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  padding: 10px;
}
